<div class="container">
  <h1 class="mat-h1">Edit Playlist</h1>
  <form [formGroup]="editForm" (submit)="onEditForm(editForm)">
    <mat-form-field appearance="legacy" color="primary" class="block">
      <mat-label>Playlist Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <ng-container *ngIf="playlistNameField.touched">
      <mat-error *ngIf="playlistNameField.hasError('required')">
        playlist name is required
      </mat-error>
    </ng-container>
    <mat-form-field appearance="legacy" color="primary" class="block">
      <mat-label>description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <ng-container *ngIf="descriptionField.touched">
      <mat-error *ngIf="descriptionField.hasError('required')">
        description is required
      </mat-error>
    </ng-container>
    <div formArrayName="songs">
      <div
        *ngFor="let song of editForm.get('songs')['controls']; let j = index"
      >
        <div [formGroupName]="j">
          <div class="row">
            <div class="col-3">
              <mat-form-field appearance="legacy" color="primary" class="block">
                <mat-label>Song Title</mat-label>
                <input matInput type="text" formControlName="title" />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field appearance="legacy" color="primary" class="block">
                <mat-label>Artist</mat-label>
                <input matInput type="text" formControlName="artist" />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field appearance="legacy" color="primary" class="block">
                <mat-label>Minutes</mat-label>
                <input matInput type="number" formControlName="duration" />
              </mat-form-field>
            </div>
            <div class="col-3">
              <button
                style="margin-right: 6px"
                type="button"
                mat-mini-fab
                *ngIf="
                  editForm.get('songs')['controls'][
                    editForm.get('songs')['controls'].length - 1
                  ] == song
                "
                color="primary"
                (click)="onAddSongForm()"
              >
                <mat-icon>add_circle_outline</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="warn"
                type="button"
                *ngIf="editForm.get('songs')['controls'].length > 1"
                (click)="onDeleteSongForm(j)"
              >
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <button
        mat-raised-button
        type="button"
        color="warn"
        style="margin-right: 6px"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button mat-raised-button [disabled]="editForm.invalid" color="primary">
        Submit
      </button>
    </div>
  </form>
</div>
