@import "../../../../assets/variables.scss";

.container {
  color: white;
  .top-content {
    padding: 30px;
    text-align: center;
    height: $header-height-offset;
    background-color: map-get($primary, 700);
    .title {
      font-size: 2em;
      color: $white1;
    }
    .sub-title {
      color: $white2;
    }

    .pricing {
      padding-top: 36px;
    }
    .mat-card {
      padding: 0 !important;
      height: 100%;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      .mat-card-header {
        ::ng-deep .mat-card-header-text {
          margin: 0px 4px !important;
        }
        text-align: left;
        color: $gray;
        background-color: #232323 !important;
        padding: 0 !important;
        font-size: 1rem;
        height: 20px;
      }
      .mat-card-content {
        padding: 20px;
        margin: 0 !important;
        .price {
          text-align: center;
          .currency {
            position: relative;
            top: -14px;
            color: $black2;
          }
          .nominal {
            font-size: 2rem;
            color: $black1;
          }
          .due-month {
            color: $black2;
          }
        }
      }
      .detail {
        p {
          text-align: left;
          margin: 0 0 0 25px;
        }
      }
      .buy {
        margin: 10px;
      }
    }
  }
  .bottom-content {
    height: 100%;
    background-color: $gray;
    color: $black2;
    .title-faq {
      text-align: center;
      font-size: 2em;
      padding-top: 107px;
      margin-bottom: 37px;
    }
    .detail-faq {
      padding: 11px;
    }
  }
}
